          <ul class="nav nav-sidebar">
            <li><a href="#/viewPositions">Вакансии <span class="sr-only">(current)</span></a></li>
            <li><a href="#/viewApplicants">Соискатели</a></li>
            <li><a href="#/viewSkills">Навыки</a></li>
          </ul>
