          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Вакансии <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Соискатели</a></li>
            <li><a href="#" ng-click="count = count + 1">Настройки</a></li>
          </ul>
