<div ng-app="myApp" ng-controller="ViewSkillsController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Amazing Staff</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <%= render "navbar" %>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div ng-view></div>
<!--- template -->
         <script type="text/ng-template" id="viewSkills.htm">
          <button class="btn btn-default" style="float:right" data-toggle="modal" data-target="#newSkillModal">Add</button>
          <h1 class="sub-header">Skills</h1>
<!-- Modal -->
<div id="newSkillModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add skill</h4>
      </div>
      <div class="modal-body">
        <form>
        <input type="text" ng-model="skill.name">
        <div style="color:red;" ng-show="has_errors" ng-bind='errors.name'></div>
        <button ng-click="addSkill();">Save</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- -->
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr ng-repeat="x in skills">
                  <td><a href="" ng-click="editSkill(x);">{{x.name}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
    </script>

<!--- /template -->
     <script type="text/ng-template" id="editSkill.htm">
      <h3>Skill: {{skill.name}}</h3>

      <input type="text" class="form-control" placeholder="New name" ng-model="newName">
      <button ng-click="renameSkill(skill, newName);">Rename</button>
      <button ng-click="deleteSkill(skill);">Delete</button>
    </script>


<!--- template -->
         <script type="text/ng-template" id="viewPositions.htm">
          <h1>Positions</h1>

          <div class="table-responsive">
          <a style="float:right" href="" ng-click="editPosition('')">Add</a>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>Name</th>
                  <th>Valid till</th>
                  <th>Salary</th>
                </tr>
                <tr ng-repeat="x in positions">
                  <td><a href="" ng-click="editPosition(x.id);">{{x.name}}</a></td>
                  <td>{{x.expires_at}}</td>
                  <td>{{x.salary}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </script>
<!--- template -->
         <script type="text/ng-template" id="viewPositionsMatched.htm">
          <h1 class="sub-header">Positions matching {{applicant.first_name}} {{applicant.last_name}}</h1>
          <h3>Skills: <span ng-repeat="skill in applicant.skills">{{skill.name}}, </span></h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>Name</th>
                  <th>Valid till</th>
                  <th>Salary</th>
                  <th>Skills</th>
                </tr>
                <tr ng-repeat="x in positions">
                  <td><a href="/#/editPosition/{{x.id}}">{{x.name}}</a></td>
                  <td>{{x.expires_at}}</td>
                  <td>{{x.salary}}</td>
                  <td><span ng-repeat="skill in x.skills">{{skill.name}}, </span></td>

                  <td><a href="/#/viewPositions/{{x.id}}/viewMatches">Match</a></td>
                </tr>
              </tbody>
            </table>
          </div>
    </script>


<!--- /template -->
         <script type="text/ng-template" id="editPosition.htm">
          <h1 class="sub-header">{{position.name}}</h1>
      <form>
      <label for="name">Position name</label>
      <input type="text" class="form-control" ng-model="position.name" id="name" required>
      <label for="salary">Salary</label>
      <input type="number" min="1" class="form-control" ng-model="position.salary" id="salary" required>
      <label for="expires_at">Valid till</label>
      <input type="date" class="form-control" ng-model="position.expires_at" id="expires_at" required>
      <label for="contacts">Contacts</label>
      <textarea class="form-control" ng-model="position.contacts" id="contacts" required></textarea>
      <tags-input ng-model="position.skills" display-property="name" keyProperty="id" placeholder="Add skill">
        <auto-complete source="loadSkills($query)" display-property="name" keyProperty="id"> </auto-complete>


      </tags-input>
      <button type="submit" class="btn btn-default" ng-click="savePosition(position)">Save</button>
      </form>
    </script>



<!--- template -->
         <script type="text/ng-template" id="viewApplicants.htm">
          <h1 class="sub-header">Applicants</h1>

          <div class="table-responsive">
          <a style="float:right" href="/#/editApplicants/">Add applicant</a>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Salary</th>
                  <th>Email</th>
                  <th></th>
                </tr>
                <tr ng-repeat="x in applicants">
                  <td ng-click="editApplicant(x.id);">{{x.first_name}}</td>
                  <td>{{x.last_name}}</td>
                  <td>{{x.salary}}</td>
                  <td>{{x.email}}</td>
                  <td><a href="/#/viewApplicants/{{x.id}}/viewMatches">Matching positions</a></td>
                </tr>
              </tbody>
            </table>
          </div>
    </script>

<!--- /template -->
         <script type="text/ng-template" id="editApplicant.htm">
          <h1 class="sub-header">{{applicant.first_name}} {{applicant.last_name}}</h1>
      <form>
      <label for="first_name">First name</label>
      <input type="text" class="form-control" ng-model="applicant.first_name" id="first_name">
      <label for="last_name">First name</label>
      <input type="text" class="form-control" ng-model="applicant.last_name" id="last_name">

      <label for="salary">Salary</label>
      <input type="number" min="1" class="form-control" ng-model="applicant.salary" id="salary">
      <label for="status">Search status</label>
      <div class="form-group">
        <select class="form-control" name="status" ng-model="applicant.status" ng-options="x for x in ['searching', 'not_searching']"
></select>

      </div>

      <tags-input ng-model="applicant.skills" display-property="name" keyProperty="id" placeholder="Add skill">
        <auto-complete source="loadSkills($query)" display-property="name" keyProperty="id"> </auto-complete>


      </tags-input>
      <button type="submit" class="btn btn-default" ng-click="saveApplicant(applicant)">Save</button>
      </form>
    </script>
        </div>
      </div>
    </div>
</div>
